<div class="container-fluid">

<%= link_to 'Post a job', new_job_path %>

<h1>Recent Jobs</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>
 
  <% @jobs.each do |job| %>
    <tr>
      <td><a href = 'jobs/<%= job.id %>'><%= job.title %></a></td>
      <td><%= job.description %></td>
    </tr>
  <% end %>
</table>